@model GLMS.Models.Contract
@using GLMS.Models.Enums

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <div asp-validation-summary="All"></div>
    </div>
}

@{
    ViewData["Title"] = "Contract";
}

<h1>Contract</h1>

<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>

                <select asp-for="Status"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<GLMS.Models.Enums.ContractStatus>()">
                </select>

                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceLevel" class="control-label"></label>

                <select asp-for="ServiceLevel"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<GLMS.Models.Enums.ServiceLevel>()">

                    <option value="">-- Select Service Level --</option>

                </select>

                <span asp-validation-for="ServiceLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Agreement PDF</label>
                <input type="file" name="agreementFile" class="form-control" accept=".pdf" />
            </div>
            <div class="form-group" style="margin-top: 15px;">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="custom-btn custom-btn-info" style="margin-top: 15px;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
